<!doctype html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><?php echo $title; ?></title>
    <link rel="stylesheet" href="http://foundation.zurb.com/assets/css/templates/foundation.css"/>
</head>
<body>
<nav class="top-bar row">

    <ul class="title-area">
        <li class="name"><h1><a href="?rt=index">HJW88</a></h1></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            <li><a href="#">Product</a>
            <li class="divider"></li>
            <?php if(isset($_SESSION['user'])){
                echo '<li><a href="#">' . $_SESSION['user']['username'] .'\'s Account</a></li>';
                echo '<li class="divider"></li>';
                echo '<li><a href="?rt=user/logout">Logout</a></li>';
                echo '<li class="divider"></li>';
            } else {
                echo '<li><a href="?rt=user/login">Login</a></li>';
                echo '<li class="divider"></li>';
                echo '<li><a href="?rt=user/signup">Signup</a></li>';
            }
            ?>
            <li class="divider"></li>
            <li><a href="#">Search</a></li>
        </ul>
    </section>
</nav>

<div class="row">


<?php

require_once('helper.php');

$alert = <<<EOD
<div data-alert class="alert-box {type} radius">
    {msg}
</div>
EOD;


if (isset($_SESSION['alert'])){

    foreach($_SESSION['alert'] as $type=>$msg){
        echo format($alert, array('type' => $type, 'msg' => $msg));
    }

}

?>